@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Crafts</h1>
    <p>Here is a embedded YouTube video!.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2zOoAPn3OjQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p>
    <button onclick="myMove()">Click Me</button> 
</p>
<div id ="myContainer">
    <div id ="myAnimation"></div>
</div>